<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' />
</head>

<body>
    <div id="app" class="pl-3 pr-3">
        <!-- header -->
        <header-component :products-cart-count="productsCartCount"></header-component>

        <!-- Frontend 前台 - Show product. 取得單一商品細節。 -->
        <div class="container">

            <!-- 商品名稱 -->
            <h1 class="font-weight-bold" v-text="product.title"></h1>

            <!-- 商品分類 -->
            <div class="form-group">
                <h3 class="font-weight-bold">
                    分類 <span class="badge badge-danger" v-text="product.category"></span>
                </h3>
            </div>

            <!-- 商品敘述 -->
            <div class="form-group">
                <h5 class="font-weight-bold">商品敘述</h5>
                <article class="text-indent-2" v-text="product.content">
                </article>
            </div>

            <!-- 商品說明 -->
            <div class="form-group">
                <h5 class="font-weight-bold">商品說明</h5>
                <article class="text-indent-2" v-text="product.description">
                </article>
            </div>

            <!-- 商品價格 -->
            <form>
                <div class="form-row">
                    <div class="col">
                        <div class="col-form-label">
                            <p>
                                建議售價：$<del v-text="$options.filters.commaFormat(product.origin_price)"></del>
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-form-label">
                            <h3>
                                網路價：<span class="h3 text-danger" v-text=`$${$options.filters.commaFormat(product.price)}`></span>
                            </h3>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-form-label">
                            <h3>
                                <i class="fas fa-cart-plus fa-2x text-danger" @click="addCart(product.id)"></i>
                            </h3>
                        </div>
                    </div>
                </div>
            </form>

            <hr>
            
            <!-- 商品圖片 -->
            <div class="row">
                <!-- 商品列表 -->
                <div class="col-sm-3 mt-2 mb-2" v-for="(imageUrl, key) in product.imageUrl" :key="key">
                    <div class="card">
                        <img 
                            :src="imageUrl"
                            :alt=`${product.title}-${key}` 
                            class="img-fluid m-1" width="360" height="360"></img>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loading Modal -->
        <loading-component v-if="isLoading"></loading-component>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="./product.js"></script>
</body>

</html>